@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Inter", sans-serif;
    background: #020617;
    color: white;
}

/* Text selection */
::selection {
    background: #2563eb;
    color: white;
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #020617;
}

::-webkit-scrollbar-thumb {
    background: #2563eb;
    border-radius: 999px;
}

::-webkit-scrollbar-thumb:hover {
    background: #3b82f6;
}